<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar registro</title>
</head>
<body>

<h1>Editar registro</h1>


<form method="POST" action="editar_registro">

  <select name="marca" id="marca">

        <option value="{{ registro.marca.id }}" >
                {{ registro.marca }}
        </option>

         {% for marca in marcas %}

            {% if registro.marca.id != marca.id %}
                <option value="{{ marca.id }}" >{{ marca.name }}</option>
            {% endif %}


        {% endfor %}

    </select>

<br><br>

    <select name="presentacion" id="presentacion">

        <option value="{{ registro.presentacion.id }}" >
                {{ registro.presentacion }}
        </option>

         {% for presentacion in presentaciones %}

            {% if registro.presentacion.id != presentacion.id %}
                <option value="{{ presentacion.id }}" >{{ presentacion.name }}</option>

            {% endif %}


        {% endfor %}

    </select>
<br><br>


<button type="submit">Guardar</button>

{% csrf_token %}

</form>



</body>
</html>